.image-content {
    display: flex;
    align-items: center;
    justify-content: center;
    .bg-image {
        background-image: url("../../Assets/images/pankod-logo.png");
        background-size: 250px;
        background-repeat: no-repeat;
        height: 300px;
        width: 300px;
        margin-bottom: auto;
    }
}
