.competitor {
  font-family: Arial, Helvetica, sans-serif;

  &__button {
    height: 2em;
    border: 1px solid var(--back-light);
    text-align: center;
    display: inline-block;
    box-sizing: inherit;
  }

}